.container {
  overflow-y: auto;
  border: transparent;
}
.container:focus {
  border: transparent;
  outline: transparent !important;
}

.container::-webkit-scrollbar {
  z-index: 150;
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  z-index: 150;
  background-color: #333333;
  cursor: pointer;
}
